@media screen and (max-width: 640px) {
  .category-wise-parent-div {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 150px;
    gap: 10px;
  }
  .category-wise-child-div {
    margin-top: 10px;
  }
}
